extends layout

block content

  p To add an outlet, fill in the required information below
  br
  a(href="/")
    button(type="button") Home page

  h2 Add a Youtube outlet

  form(action='/setup_accounts/setup_youtube', method='post', id='YTRtmpKey')
    label(for='YTname') Enter your Youtube outlet Name 
    input(type='text', value='', name='YTname', id='YTname')
    br
    label(for='YTRtmpKey') Enter your RTMP Key 
    input(type='text', value='', name='YTRtmpKey', id='YTRtmpKey')
    br
    button(type="submit") Add outlet
  br
  h2 Youtube outlets
  each outlet in YToutlets
    h4 Name: #{outlet.YToutlets.name}
    h4 RTMP Key: #{outlet.YToutlets.YTrtmp}
    form(action='/setup_accounts/remove_outlet', method='post', id='YTRtmpKey')
      input(type='hidden', value='#{outlet._id}', name='outletID', id='YToutlet')
      button(type="submit") Remove Outlet

  h2 Add a Facebook outlet

  form(action='/setup_accounts/setup_facebook', method='post', id='FBRtmpKey')
    label(for='FBname') Enter your Facebook outlet Name 
    input(type='text', value='', name='FBname', id='FBname')
    br
    label(for='FBAppId') App ID 
    input(type='text', value='', name='FBAppId', id='FBAppId')
    br
    label(for='FBAppId') Permanent Access Token 
    input(type='text', value='', name='FBaccessToken', id='FBaccessToken')
    br
    button(type="submit") Add outlet
  br
  h2 Facebook outlets
  each outlet in FBoutlets
    h4 Name: #{outlet.FBoutlets.name}
    h4 App-ID: #{outlet.FBoutlets.FBappId}
    h4 Access Token: #{outlet.FBoutlets.FBaccessToken}
    form(action='/setup_accounts/remove_outlet', method='post', id='FBRtmpKey')
      input(type='hidden', value='#{outlet._id}', name='outletID', id='FBoutlet')
      button(type="submit") Remove Outlet
    

