extends layout

block content

    h1 Edit your video: #{name}

    video(width="320" height="240" controls src="file:../videos/output/#{fileName}" type="video/mp4")
    h2 Labels
        each labelName in label
            h4 #{(JSON.stringify(labelName)).substr(1).slice(41, -1).replace(/['"]+/g, '')}
            form(action='/labelform', method='post', id='labelForm')
                input(type='hidden', value='#{(JSON.stringify(labelName.slice(41, -1))}', id='#{(JSON.stringify(labelName.slice(41, -1))}')
            button(type="button" onclick='enterStartTime()') Start Time 
            button(type="button" onclick='enterEndTime()') End Time
            br
    br
    form(action='/editing/#{name}/addLabel', method='post', id='EditAddLabel')
        label(for='startTime') add label 
        input(type='text', value='', name='newLabel', id='editinglabelTime', placeholder="Label Name")
        input(type='text', value='', name='newLabelTime', id='editinglabelTime', placeholder="00:01:00")
        button(type="submit") submit
    h2 Trim your video
    form(action='/trim', method='post', id='input')
        label(for='startTime') start time
        input(type='text', value='', name='startTime', id='startTime', placeholder="00:01:00")
        label(for='endTime') duration
        input(type='text', value='', name='endTime', id='endTime', placeholder="00:02:15")
        label(for='endTime') cut name
        input(type='text', value='', name='cutName', id='cutName', placeholder="cut1")
        button(type="submit") submit
    br
    a(href="/")
        button(type="button") Home page
    br
    h2 Your edited videos
        h4 Download #{name}
        form(action='/downloadWhole', method='post', id='wholeStreamForm') 
                input(type='hidden', value='#{name}', name='wholeStream', id='wholeStream')
                button(type="submit") Download whole stream
        each video in trims
            h4 #{(JSON.stringify(video)).substr(1).slice(33, -1).replace(/['"]+/g, '')}
            form(action='/downloadTrims', method='post', id='input') 
                input(type='hidden', value=(JSON.stringify(video)).substr(1).slice(48, -1).replace(/['"]+/g, ''), name='trimName', id='trimName')
                button(type="submit") Download
            form(action='/deleteTrim', method='post', id='input') 
                input(type='hidden', value=(JSON.stringify(video)).substr(1).slice(48, -1).replace(/['"]+/g, ''), name='deleteTrim', id='deleteTrim')
                button(type="submit") Delete

    script.
        function enterStartTime(){
        }
        function enterStartTime(){

        }

