extends layout

block content

    h1 Edit your video: #{name}

    video(width="320" height="240" controls src="file:../videos/output/#{fileName}" type="video/mp4")
    h2 Labels
        each labelName in label
            h4 #{(JSON.stringify(labelName)).substr(1).slice(41, -1).replace(/['"]+/g, '')}
            form(action='/editing/#{name}/add_start_time', method='post', id='labelForm')
                input(type='hidden', value=JSON.stringify(labelName), name='startTime')
                button(type="submit") Start Time 
            form(action='/editing/#{name}/add_end_time', method='post', id='labelForm')
                input(type='hidden', value=JSON.stringify(labelName), name='endTime')    
                button(type="submit") End Time
            form(action='/editing/#{name}/delete_label', method='post', id='labelForm')
                input(type='hidden', value=labelName._id name='labelName')    
                button(type="submit") Delete Label
                br
    br
    form(action='/editing/#{name}/addLabel', method='post', id='EditAddLabel')
        label(for='startTime') add label 
        input(type='text', value='', name='newLabel', id='editinglabelTime', placeholder="Label Name")
        input(type='text', value='', name='newLabelTime', id='editinglabelTime', placeholder="00:01:00")
        button(type="submit") submit
    h2 Trim your video
    form(action='/editing/trim', method='post', id='input')
        label(for='startTime') start time
        input(type='text', value='#{startTime}', name='startTime', id='startTime', placeholder="00:01:00")
        label(for='endTime') duration
        input(type='text', value='#{endTime}', name='endTime', id='endTime', placeholder="00:02:15")
        label(for='endTime') cut name
        input(type='text', value='', name='cutName', id='cutName', placeholder="cut1")
        button(type="submit") submit
    br
    a(href="/")
        button(type="button" onclick='refreshTime()') Home page
    br
    h2 Your edited videos
        h4 Download #{name}
        form(action='/editing/downloadWhole', method='post', id='wholeStreamForm') 
                input(type='hidden', value='#{name}', name='wholeStream', id='wholeStream')
                button(type="submit") Download whole stream
        each video in trims
            h4 Trim: #{JSON.stringify(video.Video_trim.trimName).replace(/['"]+/g, '')}
            li Start Time: #{JSON.stringify(video.Video_trim.startTime).replace(/['"]+/g, '')}
            li End Time: #{JSON.stringify(video.Video_trim.endTime).replace(/['"]+/g, '')}
            form(action='/editing/downloadTrim', method='post', id='input') 
                input(type='hidden', value=(JSON.stringify(video.Video_trim.trimName).replace(/['"]+/g, '')), name='trimName', id='trimName')
                button(type="submit") Download
            form(action='/editing/deleteTrim', method='post', id='input') 
                input(type='hidden', value=(JSON.stringify(video.Video_trim.trimName).replace(/['"]+/g, '')), name='deleteTrim', id='deleteTrim')
                input(type='hidden', value=(JSON.stringify(video._id).replace(/['"]+/g, '')), name='deleteTrimId', id='deleteTrimId')
                button(type="submit") Delete
                


