extends layout

block content
  br
  h2 Stream Status
    h4 Status: #{streamStatus}
    h4 End Points: #{streamDestinations}
    br
  a(href="/labeling/" + name)
    button(type="button" disabled="disabled" id="goStreamingPageBtn") Go to streaming page
  br

  h2 Step 1: Enter Your Input source 
  form(action='/input', method='post', id='input')
    label(for='input ') Enter your HLS input 
    input(type='text', value='', name='input', id='input', placeholder="https://example.m3u8")
    p current #{currentUrl}
    button(type="submit") submit

  h2 Step 2: Stream Settings
  form(action='/start_stream', method='post', id='streamSettings')
    label(for='input ') Enter your Stream Name
    br
    input(type='text', value='', onchange="checkNameChange()", name='name', id='streamName', placeholder="Stream name")
    br
    label(for='description') description (optional)
    br
    <textarea class="form-control", value='Live video', placeholder="Your description goes here" id="streamDescription" rows="2"></textarea>
    br
    h3 choose your streaming outlets
    h4 Youtube outlets:
    each outlet in YToutlets
        br
        label(for='Youtube') Youtube: #{outlet.YToutlets.name}  
        input(type='checkbox', value=[outlet.YToutlets.YTrtmp, outlet.YToutlets.name], name='YToutletCredentials', id='YToutlet')
    h4 Facebook outlets:
    each outlet in FBoutlets  
        br
        label(for='FBoutlet') Facebook: #{outlet.FBoutlets.name}  
        input(type='checkbox', value='', onchange="streamFB(" + outlet.FBoutlets.FBpageId + "," + JSON.stringify(outlet.FBoutlets.FBaccessToken) + "," + JSON.stringify(outlet.FBoutlets.name) + ")", name='FBoutletCredentials', id=JSON.stringify(outlet.FBoutlets.name))
    br
    br
    button(type="button", onclick="clearSchedule()", id="streamNowBtn") Stream now
    br
    br
    br
    h3 OR Schedule a stream (In EST time)
    br 
    br
    label(for='month ') Month 
    select(class="month" , name="month", id="month")
    br
    label(for='day ') Day 
    select(class="day" , name="day", id="day")
    br
    label(for='hour ') Hour 
    select(class="hour" , name="hour", id="hour")
    br
    label(for='minute ') minute
    select(class="minute" , name="minute", id="minute")
    br
    button(type="submit", disabled="disabled", id="scheduleStreamBtn") schedule stream 
  br
  h3 OR only convert stream to mp4
  form(action='/convert', method='post', id='convertForm')
    input(type='hidden', value= '', name='name', id='convertName')
    button(type="submit", disabled="disabled", id="convertBtn" ) Convert
  br

  form(action='/cancelstream', method='post', id='CancelStream')
    button(type="submit" disabled="disabled", id='cancelStreamBtn') Cancel scheduled stream 
  br
  a(href="/stop")
    button(type="button") Stop Streaming
  br
  br
  form(action='/convert', method='post', id='convertForm')
    input(type='hidden', value= scheduleStatus, name='scheduleStatus', id='scheduleStatus')
  form(action='/convert', method='post', id='convertForm')
    input(type='hidden', value= streamStatus, name='streamStatus', id='streamStatus')
  



  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js') 
  script.
    let accr = 0
    let streamName_ = null


    var scheduleCheck = setInterval(function() {
      if (streamStatus.value && streamStatus.value !== 'Live' && streamStatus.value !== "Not Streaming and no scheduled streams") {
        document.getElementById("cancelStreamBtn").disabled = false;
        clearInterval(scheduleCheck);
      }
    }, 1);
    var streamCheck = setInterval(function() {
      if (streamStatus.value === 'Live') {
        document.getElementById("goStreamingPageBtn").disabled = false;
        clearInterval(streamCheck);
      }
    }, 1);

    var scheduleInputCheck = setInterval(function() {
      let month = document.getElementById("month").value
      let day = document.getElementById("day").value
      let hour = document.getElementById("hour").value
      let minute = document.getElementById("minute").value

      if (month && day && hour && minute) {
        document.getElementById("scheduleStreamBtn").disabled = false;
        clearInterval(scheduleCheck);
      }
    }, 1);

    function checkNameChange(){
      document.getElementById("convertName").value = document.getElementById("streamName").value
      if(streamName){
        document.getElementById("convertBtn").disabled = false;
        if (accr > 0){
            document.getElementById("streamNowBtn").disabled = false;
            document.getElementById("scheduleStreamBtn").disabled = false;
          } 
      }
    }
    function clearSchedule(){
      document.getElementById("month").value = ''
      document.getElementById("day").value = ''
      document.getElementById("hour").value = ''
      document.getElementById("minute").value = ''
      let form = document.getElementById("streamSettings")
      let YTcreds = $('input[name="YToutletCredentials"]:checked').serialize()
      let FBcreds = $('input[name="FBoutletCredentials"]:checked').serialize()
      let streamName = document.getElementById("streamName").value
      if((YTcreds || FBcreds) && streamName){
        document.getElementById("streamSettings").addEventListener("click", function () {
          form.submit();
        })
      } else {
        alert('oops you missed something')
      }
    }

  script.
    window.fbAsyncInit  = function()  {
    FB.init({
      appId             : '202133753681543',
      autoLogAppEvents  : true,
      xfbml             : true,
      version           : 'v2.12'
      });
      };

    function streamFB(pageId, accessToken, FBoutletName){
      FB.api(
        '/' + pageId + '/live_videos',
        'POST',
        {access_token: accessToken,
        description: document.getElementById("streamDescription").value,
        title: document.getElementById("streamName").value,
        targeting:{geo_locations:{countries:["CA"]}}
        },
        function(response) {
            let rtmp = response.stream_url
            console.log(rtmp)
            console.log(response)
            console.log(response.id)
            let name = JSON.stringify(FBoutletName)
            document.getElementById(name).value =  JSON.stringify([rtmp, name, response.id])
        }
      );
    }
 
  script.
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  script.
    $(function(){
        var $select = $(".month");
        $select.append($('<option></option>').val('').html('-'))
        for (i=1;i<=12;i++){
            $select.append($('<option></option>').val(i).html(i))
        }
    });
  script.
      $(function(){
          var $select = $(".day");
          $select.append($('<option></option>').val('').html('-'))
          for (i=1;i<=31;i++){
              $select.append($('<option></option>').val(i).html(i))
          }
      });
  script.
      $(function(){
          var $select = $(".hour");
          $select.append($('<option></option>').val('').html('-'))
          for (i=0;i<=23;i++){
              $select.append($('<option></option>').val(i).html(i))
          }
      });
  script.
      $(function(){
          var $select = $(".minute");
          $select.append($('<option></option>').val('').html('-'))
          for (i=1;i<=59;i++){
              $select.append($('<option></option>').val(i).html(i))
          }
      });