extends layout

block content
  h1 streaming: #{name}
  h4 Scheduled Stream Time: #{date}
  h4 Streaming to: #{streamDestination}
  h4(id='timer')
    
  iframe(width="560" height="349" src="https://www.youtube.com/embed/live_stream?channel=UCXwXlD9sodFJ59ghod7FIzg" frameborder="0" allowfullscreen)
  br
  br
  h2 Labels
    each labelName in label
      h4 #{(JSON.stringify(labelName)).substr(1).slice(8, -1).replace(/['"]+/g, '')}
  a(href="/labeling/refresh")
    button(type="button") refresh labels
  br
  h2 Add a label 
  form(action='/labeling/add', method='post', id='insertLabel')
    label(for='insertLabel ') Add label
    input(type='text', value='', name='label', id='insertLabel')
    button(type="submit") submit
  br
  a(href="/editing")
    button(type="button" onclick='resetTimer()') #{terminate}
  br
  br
  a(href="/")
    button(type="button") Home page

  script.
    var countDownDate = localStorage.getItem('startDate');
    if (countDownDate) {
        countDownDate = new Date(countDownDate);
    } else {
        countDownDate = new Date();
        localStorage.setItem('startDate', countDownDate);
    }

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = now - countDownDate.getTime();

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        seconds = seconds - 10

        // Output the result in an element with id="demo"
        document.getElementById("timer").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
    }, 1000);
    let resetTimer = function(){
      countDownDate = new Date(); localStorage.setItem('startDate', countDownDate);
    }