extends layout

block content
  br
  h2 Current logos
    each logos in logo_
      h4 #{(JSON.stringify(logos)).substr(1).slice(0, -1).replace(/['"]+/g, '')}
      img.image(src=("file:../public/uploads/ACE.png") alt="logo" height="42" width="42")
      form(action='/delete_logo', method='post', id='deleteLogoForm')
        input(type="hidden", name='logoName', value=JSON.stringify(logos) ,id='logoDeleteInput')
        button(type="submit") delete
  br
  br
  h2 Choose the logos to use
  form(action='/logo_setup/use_logos', method='post', id='useLogoForm')
    each logos in logo_
      label(for='logoUse')  #{JSON.stringify(logos.logo).slice(2, -1)}   
      input(type="checkbox", name="logo", value=JSON.stringify(logos.logo).slice(2, -1) ,id='logoUse')
      br 
  p Currently in use: (#{logosInUse})
  button(type="button" id="useLogoFormBtn" onclick="useFormSubmit()") submit

  h2 Upload Logo
  form(id='uploadForm', action='http://localhost:3000/upload', method='post', encType="multipart/form-data")
    input(type='file', value='', name='logoUpload', id='logoUpform')
    br
    button(type="submit") submit

  h2 Logo size
  form(action='/imgScale', method='post', id='imgScaleForm')
    label(for='logoSize') Adust size (higher - the larger) 
    input(type='text', value='', name='logoSize', id='logoSize', placeholder='40:40')
    br
    button(type="submit") submit

  
  h2 Logo placements
  form(action='/logo_placement', method='post', id='logoForm')
    label(for='logoHor') Adust horizontal (higher - left, lower right) 
    input(type='text', value='', name='logoHor', id='logoHor', placeholder='580')
    br
    label(for='logoHei') Adust height (higher - lower down, lower-higher up) 
    input(type='text', value='', name='logoHei', id='logoHei', placeholder='10')
    br
    button(type="submit") submit
  h2 Logo alternation time
  form(action='/logo_setup/logo_time', method='post', id='logoAltForm')
    label(for='altTime') Time between alternation 
    input(type='text', value='', name='time', id='altTime', placeholder='5')
    button(type='submit') Submit
  br

  a(href="/")
    button(type="button") Take me back

  script.
    function useFormSubmit(){
      let form = document.getElementById("useLogoForm")
      form.submit();
    }