extends layout

block content

    //- font awesome
    script(src="https://use.fontawesome.com/14b78b6b78.js")

    //- bootstrap
    title Videogami-Lite: settings
    <meta charset=utf-8 />
    link(rel='stylesheet', href='/stylesheets/video_settings.css')
    link(rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet prefetch' href='https://utm-link-manager.firebaseapp.com/app.min.css')
  
    //- videoJS
    <link href="https://unpkg.com/video.js@5.16.0/dist/video-js.css" rel="stylesheet">
    <script src="https://unpkg.com/video.js@5.16.0/dist/video.js"></script>
    <script src="https://unpkg.com/videojs-contrib-hls@4.1.1/dist/videojs-contrib-hls.js"></script>

    //- jquery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')

    br
    h1 Live signal checker
    div(class="videoDiv")
        video(id="my-video" class="video-js vjs-default-skin" controls preload="auto" width="640" height="268" data-setup='{}')
            source(src=input type="application/x-mpegURL")
        p(id='videoWarning') (rtmp sources will not be shown)
    h2 Current overlays
        each logos in logo_
            h4 #{(JSON.stringify(logos)).substr(1).slice(7, -1).replace(/['"]+/g, '')}
            form(action='/video_settings/delete_logo', method='post', id='deleteLogoForm')
                input(type="hidden", name='logoName', value=JSON.stringify(logos) ,id='logoDeleteInput')
                button(class="btn btn-danger" type="submit") <i class="fa fa-trash" aria-hidden="true"></i> delete
    br
    h2 Upload Overlay
    h5 only upload .mov files 
    form(id='uploadForm', action='/video_settings/upload', method='post', encType="multipart/form-data")
        input(type='file', value='', name='logoUpload', id='logoUpform')
        br
        button(class="btn btn-primary" type="submit") <i class="fa fa-plus" aria-hidden="true"></i>  Add Logo
    h2 Choose the overlays to use
    form(action='/video_settings/use_logos', method='post', id='useLogoForm')
        each logos in logo_
            span(for='logoUse')  #{JSON.stringify(logos.logo).slice(2, -1)}   
            input(type="checkbox", name="logo", value=JSON.stringify(logos.logo).slice(2, -1) ,id='logoUse')
            br
        span(for='logoUse')  Don't use overlays   
        input(type="checkbox", name="noLogo", value="none" ,id='logoUse') 
    p Currently in use: (#{currentOverlay})
    button(class="btn btn-primary" type="button" id="useLogoFormBtn" onclick="useFormSubmit()") submit
    br
    script.
        function useFormSubmit(){
        let form = document.getElementById("useLogoForm")
        form.submit();
        }

    script.
        $(function(){
            var $select = $(".resolution");
                $select.append($('<option></option>').val("1280x720").html("720p"))
                $select.append($('<option></option>').val("640x360").html("360p"))
                $select.append($('<option></option>').val("640x480").html("480p"))
                $select.append($('<option></option>').val("1920x1080").html("1080p"))
        });
    
    

